<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
  	<div
		th:fragment="post_options (post, crosspostFeedsMap, showCommentsAllowed, showPublishDate, showTags, showCrosspostOptions, isEdit)">
		<div class="form-group">
			<label>To Timeline:</label>
			<select name='group_id' class="form-control">
				<option value=''>Your own</option>
				<optgroup th:label="#{form.group_id.optgroup.groups.label}" label="groups.label">
				</optgroup>
				<optgroup th:label="#{form.group_id.optgroup.friends.label}" label="friends.label" class="friends">
				</optgroup>
			</select>
		</div>
		<div class="form-group visibilityFields">
			<label>Privacy:</label>
			<div class="radio">
				<label><input tabindex='1' type='radio'
					th:field="*{visibility.visibilityType}" value='PRIVATE' /> 
					<span th:text="#{form.visibility.visibilityType.PRIVATE.label}">PRIVATE.label</span></label>
			</div>
			<div class="radio">
				<label><input tabindex='1' type='radio'
					th:field="*{visibility.visibilityType}" value='ALL_FRIENDS' /> 
					<span th:text="#{form.visibility.visibilityType.ALL_FRIENDS.label}">ALL_FRIENDS.label</span></label>
			</div>
			<div class="radio">
				<label><input tabindex='1' type='radio'
					th:field="*{visibility.visibilityType}" value='ALL_FOLLOWERS' /> 
					<span th:text="#{form.visibility.visibilityType.ALL_FOLLOWERS.label}">ALL_FOLLOWERS.label</span></label>
			</div>
			
			<div class="radio">
				<label><input tabindex='1' type='radio'
					th:field="*{visibility.visibilityType}" value='ALL_USERS' /> 
					<span th:text="#{form.visibility.visibilityType.ALL_USERS.label}">ALL_USERS.label</span></label>
			</div>
			<div class="radio">
				<label><input tabindex='1' type='radio'
					th:field="*{visibility.visibilityType}" value='WORLD' /> 
					<span th:text="#{form.visibility.visibilityType.WORLD.label}">WORLD.label</span></label>
			</div>
			<div class="radio">
				<label><input tabindex='1' type='radio'
					th:field="*{visibility.visibilityType}" value='EXTERNAL_LIST' /> 
					<span th:text="#{form.visibility.visibilityType.EXTERNAL_LIST.label}">EXTERNAL_LIST.label</span>
				</label>
				<div class="externalLists">
					<select class="form-control" name="externalListId" multiple="multiple">
					<!--  
						This is filled by pwa.js
					-->
					</select>
				</div>
			</div>
		</div>

		<div class="form-group" th:if="${showPublishDate}">
			<label>Publish:</label> <label class="radio-inline"> <input
				type='radio' name="publishDateFlag" value='0' th:checked="${post.scheduled==null}"/> Immediately
			</label> <label class="radio-inline"> <input type='radio'
				name="publishDateFlag" value='1' th:checked="${post.scheduled!=null}"/> Pick a time
			</label>
			<div id="localPublishDate">
				<input class="form-control" name="localPublishDate" type="datetime-local" th:value="${localPublishDate}"/>
			</div>
		</div>		

		
		<div class="form-group" th:if="${showCommentsAllowed}">
			<label>Allow Comments:</label> <label class="radio-inline"> <input
				type='radio' th:field='*{commentsAllowed}' value='1' /> Yes
			</label> <label class="radio-inline"> <input type='radio'
				th:field='*{commentsAllowed}' value='0' /> No
			</label>
		</div>
		
		<div class="form-group crosspostsOptions" th:if="${showCrosspostOptions}">
			<label>Cross-post :
			</label>
			<div class="form-group externalFeedId">
			</div>
		</div>
		<div th:if="${!showCrosspostOptions}" style="display:none;">
			<!-- Hidden form so we can preserve externalFeedId in the request -->
			<div class="externalFeedId">
			</div>
		</div>
		
		<!-- Reference Data -->
		<div class="form-group channels" th:if="${showCrosspostOptions}">
			<label>Channel:</label>
			<select name="channelIdAsString">
			<!--  
				This is filled by pwa_main.js, pwa_profile.js, or pwa_view.js
			-->
			</select>
		</div>
		
		
		<div class="form-group" th:if="${showTags}">
			<label for="tagsString">Tags</label> <input class="form-control"
				id="tagsString" name="tagsString" size="50" type="text"
				th:value="${isEdit?tagsString:''}"
				placeholder="Comma or space delimited" />
		</div>
	</div>
	
	<script th:fragment="post_options_JS">
	/*<![CDATA[*/
	if ($('[name=localPublishDate]').val()=="") {
		$('[name=localPublishDate]').hide();
	} else {
		$('[name=localPublishDate]').show();
	}
	$('[name=publishDateFlag]').on('change',function(){
		if ($(this).val()==1) {
			//Pick Date
			$('[name=localPublishDate]').show();
		} else {
			// Immediate
			$('[name=localPublishDate]').hide();
		}
	});
	
	if ($('[name=externalListId]').val()=="") {
		$('[name=externalListId]').hide();
	} else {
		$('[name=externalListId]').show();
	}
	$('[name="visibility.visibilityType"]').on('change',function(){
		if ($(this).val()=='EXTERNAL_LIST') {
			$('[name=externalListId]').show();
		} else {
			$('[name=externalListId]').hide();
			$('[name=externalListId]').val("");
		}
	});
	
	
	if ($('[name="visibility.visibilityType"]:checked').val() == 'EXTERNAL_LIST') {
		$('[name=externalListId]').show();
	}
	
	$('[name=channelIdAsString]').on('change', function(){
		var feedId = $(this).find('option:selected').data('feedId');
		$('[name=externalFeedId][value='+feedId+']').prop('checked',true);
	});
	$('[name=externalListId]').on('change', function(){
		var feedId = $(this).find('option:selected').data('feedId');
		$('[name=externalFeedId][value='+feedId+']').prop('checked',true);
	});
	/*]]>*/
	</script>
  
  </body>
</html>