<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
  	<script th:fragment="common" th:inline="javascript">
  	/*<![CDATA[*/
  		var ctx = /*[[@{|/|}]]*/ "/";
  		var defaultPicture = /*[[@{|#{defaultphoto.href}|}]]*/ "/img/nophoto.gif";
  	
  		var csrfToken = $("meta[name='_csrf']").attr("content");
  	  	var csrfHeader = $("meta[name='_csrf_header']").attr("content");
  	  	$(document).ajaxSend(function(e,xhr,options){
  	  		xhr.setRequestHeader(csrfHeader, csrfToken);
  	  	});
  	
  		function getRelativePath(uri) {
	  		if (ctx=='/') {
	  			/*relative urls cant start with a double slash*/
	  			return uri;
	  		} 
	  		return ctx+uri;
  		}
  		
  	/*]]>*/
  	</script>
  	
  	<script th:fragment="timeline" th:inline="javascript">
  	/*<![CDATA[*/
  	function loadTimelineSince(nextPage) {
  		
  	}
  	function loadTimeline(nextPage) {
  		//TEMP - remove this with real logic
  		removePager();
  		$('.timeline #elements').empty();
  		///
  	}
  	function loadTimelineMore(nextPage) {
  		
  	}
  	function renderItems(items, direction) {
  		
  	}
  	function showTimelineInput() {
  		$('.feed_input').css('display','none');
  		$('.timeline_input').css('display','');
  	}
  	/*]]>*/
  	</script>
  	
  	<script th:fragment="feed_timeline" th:inline="javascript">
  	/*<![CDATA[*/
  	function loadFeedTimelineSince(feedId, nextPage, hashtag) {
  		
  		var baseurl = /*[[@{|/internal/feeds/timeline/nextpage|}]]*/ "/internal/feeds/timeline/nextpage";
  		baseurl+="?feedId="+feedId;
  		if (hashtag!=null) {
  			baseurl+="&hashtag="+hashtag;
  		}
  		var data = nextPage;
  		
  		var renderCallback = function(page, direction) {
  			renderFeedItems(page.items, feedId, direction);
  		}
  		var readSinceCallback = function(nextPage) {
  			loadFeedTimelineSince(feedId, nextPage);
  		}
  		
  		readTimelineSince(baseurl, data, '.timeline #elements',
  				renderCallback, 
  				readSinceCallback);
  	}
  	function loadFeedTimeline(feedId, hashtag) {
  		var baseurl = /*[[@{|/internal/feeds/timeline|}]]*/ "/internal/feeds/timeline";
  		baseurl+="?feedId="+feedId;
  		if (hashtag!=null) {
  			baseurl+="&hashtag="+hashtag;
  		}
  		var data = {};
  		
  		var renderCallback = function(page, direction) {
  			renderFeedItems(page.items, feedId, direction);
  		}
  		var readMoreCallback = function(nextPage) {
  			loadFeedTimelineMore(feedId, nextPage, hashtag);
  		}
  		var readSinceCallback = function(nextPage) {
  			loadFeedTimelineSince(feedId, nextPage, hashtag);
  		}
  		
  		readTimeline(baseurl, data, '.timeline #elements',
  				renderCallback, 
  				readMoreCallback, 
  				readSinceCallback);
  	}
  	function loadFeedTimelineMore(feedId, nextPage, hashtag) {
  		var baseurl = /*[[@{|/internal/feeds/timeline/nextpage|}]]*/ "/internal/feeds/timeline/nextpage";
  		baseurl+="?feedId="+feedId;
  		if (hashtag!=null) {
  			baseurl+="&hashtag="+hashtag;
  		}
  		var data = nextPage;
  		  		
  		var renderCallback = function(page, direction) {
  			renderFeedItems(page.items, feedId, direction);
  		}
  		var readMoreCallback = function(nextPage) {
  			loadFeedTimelineMore(feedId, nextPage);
  		}
  		  		
  		readTimelineMore(baseurl, data, '.timeline #elements',
  				renderCallback, 
  				readMoreCallback);
  	}
  	function renderFeedItems(items, feedId, direction) {
  		/*direction is "prepend" or "append"*/
  		var loopFunction = function (index, element) {
  			var builtElement = null;
  			builtElement = buildTimelineElement(element, feedId);
  			if (builtElement!=null) {
  				if (direction=='prepend') {
  					builtElement.prependTo("#elements");
  				} else {
  					builtElement.appendTo("#elements");
  				}
  			}	
  		};
  		
  		if (direction=='prepend') {
  			$.each(items.reverse(), loopFunction);	
  		} else {
  			$.each(items, loopFunction);
  		}
  	}
  	function showFeedInput(feedId, type, name, imageUrl) {
  		var submitPath = /*[[@{|/api/feed/post|}]]*/ "/api/feed/post";
  		var uploadPath = /*[[@{|/api/feed/upload|}]]*/ "/api/feed/upload";
  		$('.timeline_input').css('display','none');
  		$('.feed_input').css('display','');
  		$('.feed_input .avatar img').attr({
  			'src':imageUrl,
  			'title':name});
  	}
  	/*]]>*/
  	</script>
  
  
  </body>
  
 </html>