<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
   <div th:fragment="home_timeline_input" class="timeline_input input-group">
		<span class="avatar input-group-addon">
			<img class="defaultPicture" height="46" />
		</span>
		<button class="form-control start-discussion-btn" data-toggle="modal" data-target="#newMsgModal">Start a discussion, or share a link...</button>
		<div class="input-group-btn">
			<button data-toggle="modal" data-target="#newJournalModal" class="btn btn-default hidden-sm hidden-xs" type="button" ><i class="glyphicon glyphicon-pencil"></i>&nbsp;Post Blog</button>
			<button data-toggle="modal" data-target="#newSeriesModal" class="btn btn-default hidden-sm hidden-xs" type="button" ><i class="glyphicon glyphicon-book"></i>&nbsp;Post Series</button>
			<!-- <button data-toggle="modal" data-target="#newPhotosFormModal" class="btn btn-default hidden-sm hidden-xs"><i class="glyphicon glyphicon-picture" type="button" ></i>&nbsp;Post Photo(s)</button>
			<button data-toggle="modal" data-target="#newPollModal" class="btn btn-default hidden-sm hidden-xs"><i class="glyphicon glyphicon-stats" type="button"></i>&nbsp;Post Poll</button>
			<button class="btn btn-default hidden-sm hidden-xs"><i class="glyphicon glyphicon-calendar" type="button" ></i>&nbsp;Post Event</button> -->
			
			<button class="btn btn-default dropdown-toggle hidden-md hidden-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    More... <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
			    <li><a data-toggle="modal" data-target="#newJournalModal" href="#"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Post Blog</a></li>
			    <li><a data-toggle="modal" data-target="#newSeriesModal" href="#"><i class="glyphicon glyphicon-book"></i>&nbsp;Post Series</a></li>
			    <!-- <li><a data-toggle="modal" data-target="#newPhotosFormModal" href="#"><i class="glyphicon glyphicon-picture" type="button" ></i>&nbsp;Post Photo(s)</a></li>
			    <li><a data-toggle="modal" data-target="#newPollModal" href="#"><i class="glyphicon glyphicon-stats" type="button" ></i>&nbsp;Post Poll</a></li>
			    <li><a href="#"><i class="glyphicon glyphicon-calendar" type="button" ></i>&nbsp;Post Event</a></li>-->
			  </ul>
		</div>
	</div>
  	
	<div th:fragment="profile_timeline_templates">
		<div id="templates" class="hidden">
			<div include="common/fragments_timeline_templates :: native_templates"></div>
		</div>
	</div>

	<div th:fragment="timeline_templates">
		<div id="templates" class="hidden">
			<div th:include="common/fragments_timeline_templates :: native_templates"></div>
			<div th:include="common/fragments_timeline_templates :: feed_templates"></div>
			<div class="componentTemplates" th:each="fragmentName : ${componentTemplates}">
				<div th:include="__${fragmentName}__"></div>
			</div>
		</div>
	</div>


	<div th:fragment="native_templates">
		<div id="template_Journal" class="element prerender">
			<div class="Journal">
				<div class="reshared">
					<div class="resharedBy">
						<small>Reshared by <span class="name">Username</span></small>
					</div>
					<span class="resharedComment">Comment</span>
				</div>
				<div class="row">
					<div class="col-sm-7">
						<div class="avatar">
							<a href="#"><img src="" width="48" /></a>
						</div>
						<div class="subject">
							Blog: <a href="#" class="title">Lorem ipsum dolor sit amet</a>
						</div>
						<div class="username hidden-xs">
							by <a href="#"><span class="name">Username</span> <small
								class="screenname">screenname</small></a> <span class="owner">in
								<a href="#"></a>
							</span>
						</div>
					</div>
					<div class="stats col-sm-5">
						<div class="createdAt">
							Posted on: <span>11/11/2014</span>
						</div>
						<div class="sizeOfComments">
							Comments: <span>0</span>
						</div>
					</div>
				</div>
				<div class="preview">
					<div>
						<span class="description">Description</span> [<a class="readmore">READ
							MORE</a>]
					</div>
				</div>
				<div>
					<span class="glyphicon glyphicon-tag"></span> Tags: <span
						class="tags-list"></span>
				</div>
				<div>
					<i class="far fa-smile"></i> Reactions: <span
						class="reactions-list"></span>
				</div>
				<!-- <div class="action-group" role="group">
					<a sec:authorize="isAuthenticated()" class="reactBtn" href="#"
						data-toggle="modal" data-target="#reactModal"> <span
						class="fa-stack fa-stack fa-lg"> <i
							class="fa fa-circle fa-stack-2x share_background"></i> <i
							class="far fa-smile fa-stack-1x"></i>
					</span>
					</a> <a sec:authorize="isAuthenticated()" class="shareBtn" href="#"
						data-toggle="modal" data-target="#reshareJournalModal"> <span
						class="fa-stack fa-stack fa-lg"> <i
							class="fa fa-circle fa-stack-2x share_background"></i> <i
							class="fas fa-share-alt fa-stack-1x"></i>
					</span>
					</a> <span class="protectedAlert"
						title="This post was posted to a select visibility and cannot be reshared.">
						<span class="fa-stack fa-stack fa-lg"> <i
							class="fas fa-lock fa-stack-1x"></i>
					</span>
					</span> <small class="id" style="display: none;"></small>
				 --></div>
			</div>
		</div>
	</div>
	
	<div th:fragment="feed_templates">
		<div id="template_oembed" class="element prerender">
			<div class="oembedElement">
				<div class="row">
					<div class="col-sm-7">
						<div class="avatar">
							<a href=""><img src="" width="48" /></a>
						</div>
						<div class="username">
							<a href="#"><span class="name">Username</span> <small
								class="screenname">@username</small></a>
						</div>
						<div class="createdAt">
							<span>11/11/2014</span>
						</div>
					</div>
					<div class="stats col-sm-5 hidden-xs">
					</div>
				</div>		
				<div class="preview">
					<ul>
						<li class="sharedContent">
							<a class="pane" href="#" target="_blank">
								<div class="pane-body">
									<div class="title">Title</div>
									<div class="description">Description</div>
									<div class="image">
										<img src="" />
									</div>
								</div>
						</a>
						<div class="oembedToggle"><button class="btn btn-link" type="button">Show Preview <span class="caret"></span></button></div>
						<div class="oembed" hidden="hidden"></div>
						</li>
					</ul>
				</div>
				<div class="footer visible-xs-block">
					<div class="stats">
					</div>
				</div>
				
				<div class="action-group" role="group">
					<small class="id" style="display: none;"></small>
				</div>
			</div>
		</div>
		
	</div>
  
  </body>
  
 </html>