<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
  	<script th:fragment="common" th:inline="javascript">
  	/*<![CDATA[*/
  		var ctx = /*[[@{|/|}]]*/ "/";
  	
  		function getRelativePath(uri) {
	  		if (ctx=='/') {
	  			/*relative urls cant start with a double slash*/
	  			return uri;
	  		} 
	  		return ctx+uri;
  		}
  		
  	/*]]>*/
  	</script>
  	
  	<script th:fragment="feed_timeline" th:inline="javascript">
  	/*<![CDATA[*/
  	function loadFeedTimelineSince(feedId, nextPage, hashtag) {
  		
  		var baseurl = /*[[@{|/internal/feeds/timeline/nextpage|}]]*/ "/internal/feeds/timeline/nextpage";
  		baseurl+="?feedId="+feedId;
  		if (hashtag!=null) {
  			baseurl+="&hashtag="+hashtag;
  		}
  		var data = {};
  		data["after"] = nextPage.after.toString();
  		
  		var renderCallback = function(page, direction) {
  			renderFeedItems(page.items, feedId, direction);
  		}
  		var readSinceCallback = function(nextPage) {
  			loadFeedTimelineSince(feedId, nextPage);
  		}
  		
  		readTimelineSince(baseurl, data, '.timeline #elements',
  				renderCallback, 
  				readSinceCallback);
  	}
  	function loadFeedTimeline(feedId, hashtag) {
  		var baseurl = /*[[@{|/internal/feeds/timeline|}]]*/ "/internal/feeds/timeline";
  		baseurl+="?feedId="+feedId;
  		if (hashtag!=null) {
  			baseurl+="&hashtag="+hashtag;
  			
  		}
  		console.log(baseurl);
  		var data = {};
  		
  		var renderCallback = function(page, direction) {
  			console.log("return");
  			console.log(page);
  			renderFeedItems(page.items, feedId, direction);
  		}
  		var readMoreCallback = function(nextPage) {
  			loadFeedTimelineMore(feedId, nextPage, hashtag);
  		}
  		var readSinceCallback = function(nextPage) {
  			loadFeedTimelineSince(feedId, nextPage, hashtag);
  		}
  		
  		readTimeline(baseurl, data, '.timeline #elements',
  				renderCallback, 
  				readMoreCallback, 
  				readSinceCallback);
  	}
  	function loadFeedTimelineMore(feedId, nextPage, hashtag) {
  		var baseurl = /*[[@{|/internal/feeds/timeline/nextpage|}]]*/ "/internal/feeds/timeline/nextpage";
  		baseurl+="?feedId="+feedId;
  		if (hashtag!=null) {
  			baseurl+="&hashtag="+hashtag;
  		}
  		var data = {};
  		data["before"] = decStrNum(nextPage.before.toString());
  		
  		var renderCallback = function(page, direction) {
  			renderFeedItems(page.items, feedId, direction);
  		}
  		var readMoreCallback = function(nextPage) {
  			loadFeedTimelineMore(feedId, nextPage);
  		}
  		  		
  		readTimelineMore(baseurl, data, '.timeline #elements',
  				renderCallback, 
  				readMoreCallback);
  	}
  	function renderFeedItems(items, feedId, direction) {
  		/*direction is "prepend" or "append"*/
  		var loopFunction = function (index, element) {
			var builtElement = null;
			builtElement = buildTimelineElement(element, feedId);
			//console.log('builtElement');
			//console.log(builtElement[0].outerHTML);
			if (builtElement!=null) {
				//console.log('elements');
				//console.log($('#elements'));
				if (direction=='prepend') {
					builtElement.prependTo("#elements");
				} else {
					builtElement.appendTo("#elements");
					//$('#elements').append(builtElement);
					//$('#elements').append("Test");
					//console.log('append');
				}
			}	
		};
  		
		if (direction=='prepend') {
			$.each(items.reverse(), loopFunction);	
		} else {
			$.each(items, loopFunction);
		}
  	}
  	function buildTimelineElement(element, feedId) {
  		console.log(element);
  		var type = element.type.namespace+"_"+element.type.name;
  		var id = type+"_"+element.providerId;
  		if ($("#"+id).length>0) {
  			console.log(id+" already exists");
  			return null;
  		}
  		var template = $('#template_oembed').clone();
  		template.attr("id",id); 	
  		
  		var oembedHref = null;
  		if (element.alternateLinks!=null) {
  			for (altLinkIdx in element.alternateLinks) {
  				if (element.alternateLinks[altLinkIdx].type=="application/json+oembed") {
  					oembedHref = element.alternateLinks[altLinkIdx].href;
  					//console.log(element.alternateLinks[altLinkIdx].href);
  				}
  			}	
  		}
  		//Default stuff (avatar/username/date)
  		template.find(".avatar img").attr({
  			'src':element.postedByUser.avatar.src,
  			'title':element.postedByUser.avatar.title});
  		template.find(".username .name").text(element.postedByUser.displayName);
  		template.find(".username a")
			.attr('href',element.postedByUser.url)
			.attr('target','_new');
  		template.find(".username .screenname").text(element.postedByUser.username);
  		template.find(".createdAt span").text(new Date(element.postedOnDate).toLocaleString());
  		//Preview
  		var preview = template.find(".preview");
  		//preview.css('display','none');
  		var paneBody = preview.find(".pane-body");
  		var oembedDiv = preview.find(".oembed");
  		paneBody.find(".title").html(element.title);
  	 	paneBody.find(".description").html(element.description);
  	 	preview.find("a.pane").attr({
				"href":element.url});
  		if (oembedHref!=null) {
  			
  			preview.find('.oembedToggle button').on('click', function(){
  				if (oembedDiv.attr('hidden')) {
  					oembedDiv.removeAttr('hidden');	
  				} else {
  					oembedDiv.attr('hidden', true);
  				}
  	  			
  	  		});
  			
	  		$.ajax({
				type: 'GET', 
				url: oembedHref+"&amp;align=center",
				dataType: "jsonp",
				success: function(data){
					if (data.type=="rich") {
						oembedDiv.html(data.html);
					} else if (data.type="photo") {
						oembedDiv.remove();
						paneBody.find(".image")
							.attr('href', data.url);
					}
				},
				error: function() {
					console.log('[oembed] error:'+oembedHref);
					preview.remove();
				}
			});
  		} else {
  			oembedDiv.remove();
  		}
  		
  		return template;
  	}
  	/*]]>*/
  	</script>
  
  
  </body>
  
 </html>