<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
  	<div th:fragment="timeline" class="timeline">
  	  	
  		<div th:replace="main/fragments_main :: timeline_tabs">tabs</div>
	    
	    <div th:replace="main/fragments_main :: timeline_input">input</div>
	    
	    	  			
  		<div id="elements"></div>
  		
  		<!-- Templates -->
  		<div th:replace="common/fragments_timeline_templates :: timeline_templates">templates</div>
  		  		
  	</div>
  	
  	<div th:fragment="timeline_tabs" id="timeline_tabs" class="panel panel-default hidden">
  		
  		<div id="tabs_feed_templates" class="hidden">
  			<ul>
  				<li id="tabs_feed_template" role="presentation" class="dropdown">
  					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" href="#" aria-expanded="false">
				  		<i class="iconName fa" aria-hidden="true"></i>
				  		<span class="hidden-xs displayName">type</span>
				  		<span class="caret"></span>
				  	</a>
				  	<ul class="dropdown-menu">
				    </ul>
  				</li>
  			</ul>
  			
  		</div>
  		
  		<ul class="nav nav-pills">
		  <li id="home_tab" role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="hidden-xs"> Home</span></a></li>

		  <li role="presentation"><a data-toggle="modal" data-target="#newFeedModal" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="hidden-xs"> New Feed</span></a></li>
		</ul>
  	</div>
  	
  	<div th:fragment="timeline_input">
  		
  		<div id="timeline_input_templates" class="hidden">
  		
  			<div id="home_input_template">
  				<!-- Home Timeline Input -->
  				<div class="timeline_input input-group">
  					<span class="avatar input-group-addon">
  						<img class="defaultPicture" height="46" />
  					</span>
  					<button class="form-control start-discussion-btn" data-toggle="modal" data-target="#newMsgModal">Start a discussion, or share a link...</button>
  					<div class="input-group-btn">
		  				<button data-toggle="modal" data-target="#newJournalModal" class="btn btn-default hidden-sm hidden-xs" type="button" ><i class="glyphicon glyphicon-pencil"></i>&nbsp;Post Blog</button>
		  				<button data-toggle="modal" data-target="#newPhotosFormModal" class="btn btn-default hidden-sm hidden-xs"><i class="glyphicon glyphicon-picture" type="button" ></i>&nbsp;Post Photo(s)</button>
		  				<button data-toggle="modal" data-target="#newPollModal" class="btn btn-default hidden-sm hidden-xs"><i class="glyphicon glyphicon-stats" type="button"></i>&nbsp;Post Poll</button>
		  				<!-- <button class="btn btn-default hidden-sm hidden-xs"><i class="glyphicon glyphicon-calendar" type="button" ></i>&nbsp;Post Event</button> -->
		  				
		  				<button class="btn btn-default dropdown-toggle hidden-md hidden-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    More... <span class="caret"></span>
						  </button>
		  				<ul class="dropdown-menu dropdown-menu-right">
						    <li><a data-toggle="modal" data-target="#newJournalModal" href="#"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Post Blog</a></li>
						    <li><a data-toggle="modal" data-target="#newPhotosFormModal" href="#"><i class="glyphicon glyphicon-picture" type="button" ></i>&nbsp;Post Photo(s)</a></li>
						    <li><a data-toggle="modal" data-target="#newPollModal" href="#"><i class="glyphicon glyphicon-stats" type="button" ></i>&nbsp;Post Poll</a></li>
						    <!-- <li><a href="#"><i class="glyphicon glyphicon-calendar" type="button" ></i>&nbsp;Post Event</a></li>-->
						  </ul>
		  			</div>
  				</div>
  				
 				<!-- Feed Timeline Input -->
 				<div class="feed_input input-group" style="display:none;">
		  			<span class="avatar input-group-addon"><img height="46"/></span>
		  			<button class="form-control start-btn" data-toggle="modal" data-target="#twitterCompose">Start...</button>
		  		</div>
  			</div>
  			  			
  		</div>
  		
  		<div id="timeline_inputs" class="hidden"></div>
  		
  	</div>
  	
  	
  	<script th:fragment="timeline_JS" th:inline="javascript">
  	/*<![CDATA[*/
  		
  	function showFeedInput(feedId, type, name, imageUrl) {
  		var submitPath = /*[[@{|/api/feed/post|}]]*/ "/api/feed/post";
  		var uploadPath = /*[[@{|/api/feed/upload|}]]*/ "/api/feed/upload";
  		$('.timeline_input').css('display','none');
  		$('.feed_input').css('display','');
  		$('.feed_input .avatar img').attr({
  			'src':imageUrl,
  			'title':name});
 /* 		if (type=='TWITTER') {
  			$('.feed_input .start-btn').html('Post a tweet...');	
  			$('.feed_input .start-btn').attr('data-target','#twitterCompose');
  			$('#composeForm_externalFeedId').val(feedId);
  			$('#composeForm_submitBtn').on('click', function () {
  				
  				if ($("[name='media']")[0].files.length>0) {
  					var media = $("[name='media']")[0];
  					var form = $('#twitterComposeForm')[0];
  					var formData = new FormData(form);
  					formData.append("media", media.files[0]);
  					
  					$.ajax({
  		 				type: 'POST', 
  		 				url: uploadPath,
  		 				data: formData,
  		 				processData: false,
  		 				contentType: false,
  		 				success: function(data){
  		 					console.log(data);
  		 				}
  		 			});	
  				} else {
  					$.ajax({
  		 				type: 'POST', 
  		 				url: submitPath,
  		 				data: $('#twitterComposeForm').serialize(),
  		 				success: function(data){
  		 					console.log(data);
  		 				}
  		 			});	
  				}

			});
  		}*/
  		
  	}	
  	
  	/*]]>*/
  	</script>
  	  	
  
  
  </body>
  
 </html>