<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
  	<div th:fragment="timeline_input">
  		<div sec:authorize="isAuthenticated() and hasAnyRole('ROLE_CAN_POST','ROLE_ADMIN')">
  		<div id="timeline_input_templates" class="hidden">
  		
  			<div id="home_input_template">
  				<!-- Home Timeline Input -->
  				<div th:replace="common/fragments_timeline_templates :: home_timeline_input">templates</div>
  				
 				<!-- Feed Timeline Input -->
 				<div class="feed_input input-group" style="display:none;">
		  			<span class="avatar input-group-addon"><img height="46"/></span>
		  			<button class="form-control start-btn" data-toggle="modal" data-target="#twitterCompose">Start...</button>
		  		</div>
  			</div>
  			  			
  		</div>
  		
  		<div id="timeline_inputs" class="hidden"></div>
  		</div>
  	</div>
  
  	<div th:fragment="timeline" class="timeline">
  	  	
  		<div th:replace="main/fragments_main :: timeline_tabs">tabs</div>
	    
	    <div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="main/fragments_main :: timeline_input">input</div>
	    
	    	  			
  		<div id="elements"></div>
  		
  		<!-- Templates -->
  		<div th:replace="common/fragments_timeline_templates :: timeline_templates">templates</div>
  		  		
  	</div>
  	
  	<div th:fragment="timeline_tabs" id="timeline_tabs" class="panel panel-default hidden">
  		
  		<div id="tabs_feed_templates" class="hidden">
  			<ul>
  				<li id="tabs_feed_template" role="presentation" class="dropdown">
  					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" href="#" aria-expanded="false">
				  		<i class="iconName fab" aria-hidden="true"></i>
				  		<span class="hidden-xs displayName">type</span>
				  		<span class="caret"></span>
				  	</a>
				  	<ul class="dropdown-menu">
				    </ul>
  				</li>
  			</ul>
  			
  		</div>
  		
  		<ul class="nav nav-pills">
		  <li id="home_tab" role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="hidden-xs"> Home</span></a></li>

		  <li role="presentation"><a data-toggle="modal" data-target="#newFeedModal" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="hidden-xs"> New Feed</span></a></li>
		</ul>
  	</div>
  	  	
  	 	  	
  
  
  </body>
  
 </html>