<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
  	<div th:fragment="timeline_input">
		<div sec:authorize="isAuthenticated()" >
		<div id="timeline_input_templates" hidden="hidden">

			<div id="home_input_template">
				<!-- Home Timeline Input -->
				<div th:replace="common/fragments_timeline_templates :: home_timeline_input">templates</div>

			</div>

		</div>

		<div id="timeline_inputs" class="hidden"></div>
		</div>
	</div>
	
  	<div th:fragment="timeline" class="timeline">
  	
  		<div th:replace="profile/fragments_profile :: timeline_tabs">tabs</div>

		<div th:replace="profile/fragments_profile :: timeline_input">input</div>


		<div id="elements"></div>

		<!-- Templates -->
		<div th:replace="common/fragments_timeline_templates :: timeline_templates">templates</div>

	</div>
	
	<div th:fragment="timeline_tabs" id="timeline_tabs" class="panel panel-default hidden">
  		
  		<div id="tabs_feed_templates" class="hidden">
  			<ul>
  				<li id="tabs_feed_template" role="presentation" class="dropdown">
  					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" href="#" aria-expanded="false">
				  		<i class="iconName fa" aria-hidden="true"></i>
				  		<span class="hidden-xs displayName">type</span>
				  		<span class="caret"></span>
				  	</a>
				  	<ul class="dropdown-menu">
				    </ul>
  				</li>
  			</ul>
  			
  		</div>
  		
  		<ul class="nav nav-pills">
		  <li id="home_tab" role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="hidden-xs"> Home</span></a></li>

		  <li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId}==${profileUser.userId}" role="presentation"><a data-toggle="modal" data-target="#newFeedModal" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="hidden-xs"> New Feed</span></a></li>
		</ul>
  	</div>
  
  	<div th:fragment="viewuser_picture" class="profile" hidden="hidden">
  		<div class="avatar">
			<a>
				<img th:src="@{|#{defaultphoto.href}|}" src="../img/nophoto.gif"/>
			</a>
 		</div>
  		<h1 class="displayName"></h1>
  		<span class="username"></span>
  		
  		<div id="viewusermenu" hidden="hidden">
 			<a class="btn btn-primary" href="#">Edit Profile</a>
 		</div>
  	</div>
  	
  	<div th:fragment="viewuser_profile" class="profile extended-profile" hidden="hidden">
  		<p class="bio"></p>
  		
  		<p class="pronouns"></p>
  		
  		<p class="location"></p>
  	
  		<p class="row">
  			<span class="col-xs-6 membersince">Member Since <strong><time></time></strong></span> 
  			<span class="col-xs-6 lastlogin">Last Login <strong><time></time></strong></span>
  		</p>
  		<p class="row">
  			<a class="col-xs-6 followers" href="#"><strong class="followingCount">0</strong> Following</a> 
  			<a class="col-xs-6 followers" href="#"><strong class="followerCount">0</strong> Followers</a>
  		</p>
  	
  		<div class="socialmedia">
  			<div class="content-socmed-author">
				<!-- <span class="socmed-author socmed-author-email"><a href="#" target="_blank" ><i class="fa fa-envelope fa-2x"></i></a></span> 
				<span class="socmed-author socmed-author-rss"><a href="#" target="_blank" ><i class="fa fa-rss fa-2x"></i></a></span> 
				<span class="socmed-author socmed-author-yahoo"><a href="#" target="_blank" ><i class="fa fa-yahoo fa-2x"></i></a></span> -->
				<span class="socmed-author socmed-author-twitter"><a target="_blank" ><i class="fab fa-twitter fa-2x"></i></a></span>
				<span class="socmed-author socmed-author-instagram"><a target="_blank" ><i class="fab fa-instagram fa-2x"></i></a></span>
				<!-- <span class="socmed-author socmed-author-facebook"><a href="#" target="_blank" ><i class="fa fa-facebook fa-2x"></i></a></span>
				<span class="socmed-author socmed-author-gplus"><a href="#" target="_blank" ><i class="fa fa-google-plus fa-2x"></i></a></span>
				<span class="socmed-author socmed-author-youtube"><a href="#" target="_blank" ><i class="fa fa-youtube fa-2x"></i></a></span>
				<span class="socmed-author socmed-author-linkedin"><a href="#" target="_blank" ><i class="fa fa-linkedin fa-2x"></i></a></span>
				<span class="socmed-author socmed-author-pinterest"><a href="#" target="_blank" ><i class="fa fa-pinterest fa-2x"></i></a></span> -->
				<span class="socmed-author socmed-author-discord"><a target="_blank" ><i class="fab fa-discord fa-2x"></i></a></span>
			</div>
		</div>
  	</div>
  	
  	<div th:fragment="authorBio (profile, author)">
	  	<div class="author-bio" th:if="${profile!=null and author!=null}">
			<div class="row">
				<div class="col-xs-12 col-sm-2 avatar-photo">
					<img class="avatar" th:if="${author.avatarFilename!=null}" th:src="@{|/photos-storage/${author.avatarFilename}?size=avatar|}" src="../../img/nophoto.gif" width="100"/>
					<img class="avatar" th:if="${author.avatarFilename==null}" th:src="@{|/img/nophoto.gif|}" src="../../img/nophoto.gif" width="100"/>
				</div>
				<div class="col-xs-12 col-sm-10 author-info ">
					<h3 class="author-title" th:text="${author.username}"><span>username</span></h3>
					<span th:text="${profile.bio}">bio</span>
					<div class="content-socmed-author">
						<!-- <span class="socmed-author socmed-author-email"><a href="#" target="_blank" ><i class="fa fa-envelope fa-2x"></i></a></span> 
						<span class="socmed-author socmed-author-rss"><a href="#" target="_blank" ><i class="fa fa-rss fa-2x"></i></a></span> 
						<span class="socmed-author socmed-author-yahoo"><a href="#" target="_blank" ><i class="fa fa-yahoo fa-2x"></i></a></span> -->
						<span th:if="${profile.twitterAccount!=null}" class="socmed-author socmed-author-twitter"><a th:href="@{|https://twitter.com/${profile.twitterAccount.username}|}" href="#" target="_blank" ><i class="fa fa-twitter fa-2x"></i></a></span>
						<!-- <span th:if="${profile.instagramAccount!=null}" class="socmed-author socmed-author-instagram"><a th:href="@{|https://www.instagram.com/${profile.instagramAccount.instagramScreenname}|}" href="#" target="_blank" ><i class="fa fa-instagram fa-2x"></i></a></span>
						<span class="socmed-author socmed-author-facebook"><a href="#" target="_blank" ><i class="fa fa-facebook fa-2x"></i></a></span>
						<span class="socmed-author socmed-author-gplus"><a href="#" target="_blank" ><i class="fa fa-google-plus fa-2x"></i></a></span>
						<span class="socmed-author socmed-author-youtube"><a href="#" target="_blank" ><i class="fa fa-youtube fa-2x"></i></a></span>
						<span class="socmed-author socmed-author-linkedin"><a href="#" target="_blank" ><i class="fa fa-linkedin fa-2x"></i></a></span>
						<span class="socmed-author socmed-author-pinterest"><a href="#" target="_blank" ><i class="fa fa-pinterest fa-2x"></i></a></span> -->
						<span th:if="${profile.discordInviteCode!=null}" class="socmed-author socmed-author-discord"><a th:href="@{|${#messages.msg('discordInviteUrlPrefix')+profile.discordInviteCode}|}" href="#" target="_blank" ><i class="fab fa-discord fa-2x"></i></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
  	
  	<div th:fragment="profile_form">
		
		<form th:action="@{|/${#authentication.principal.username}/edit|}" th:object="${form}" method="post" enctype="multipart/form-data">
		
			<!--  User Name -->
			<div class="username form-group">
			    <label th:text="#{form.username.label}">Username</label>
			    <p class="form-control-static" th:text="${#authentication.principal.username}"></p>
			 </div>
  
			<!-- Display Name -->
			<div class="displayName form-group">
				<label for="displayName" th:text="#{form.displayName.label}">form.displayName.label</label>
				<input id="displayName" type="text" th:field="*{displayName}" class="form-control" />
				<small id="displayName_help" class="form-text text-muted" th:text="#{form.displayName.help}">form.displayName.help</small>
			</div>
			
			<!-- Avatar -->
			<div class="avatar form-group"> 
				<label for="avatar" th:text="#{form.avatar.label}">form.avatar.label</label>
				<input type="file" id="avatar" name="avatar" accept=".gif,.png,.jpg"/>
				<small id="avatar_help" class="form-text text-muted" th:text="#{form.avatar.help}">form.avatar.help</small>
			</div>
			<div class="clearAvatar form-check"> 
				<input class="form-check-input" type="checkbox" id="clearAvatar" name="clearAvatar" />
				<label class="form-check-label" for="clearAvatar" th:text="#{form.clearAvatar.label}">form.clearAvatar.label</label>
				<small id="clearAvatar_help" class="form-text text-muted" th:text="#{form.clearAvatar.help}">form.clearAvatar.help</small>
			</div>
			<div class="form-group">
			    <p class="form-control-static"><img th:src="@{|${form.currentAvatar!=null?'/photos-storage/'+form.currentAvatar:#messages.msg('defaultphoto.href')}|}" src="../img/nophoto.gif"/></p>
			 </div>
			
			
			<!-- Bio -->
			<div class="bio form-group">
				<label for="bio" th:text="#{form.bio.label}">form.bio.label</label>
				<textarea id="bio" type="text" th:field="*{bio}" class="form-control" />
				<small id="bio_help" class="form-text text-muted" th:text="#{form.bio.help}">form.bio.help</small>
			</div>
			
			
			<!-- Location -->
			<div class="location form-group">
				<label for="location" th:Text="#{form.location.label}">form.location.label</label>
				<input id="location" type="text" th:field="*{location}" class="form-control" />
				<small id="location_help" class="form-text text-muted" th:text="#{form.location.help}">form.location.help</small>
			</div>
			
			<!-- Pronouns -->
			<div class="pronouns form-group">
				<label for="pronouns" th:text="#{form.pronouns.label}">form.pronouns.label</label>
				<input id="pronouns" type="text" th:field="*{pronouns}" class="form-control" />
				<small id="pronouns_help" class="form-text text-muted" th:text="#{form.pronouns.help}">form.pronouns.help</small>
			</div>
			
			<!-- Discord Server -->
			<div class="discord form-group">
				<label for="discordInviteCode" th:text="#{form.discordInviteCode.label}">form.pronouns.label</label>
				<div class="input-group">
					<div class="input-group-addon" th:text="#{discordInviteUrlPrefix}">discordInviteUrlPrefix</div>
					<input id="discordInviteCode" type="text" th:field="*{discordInviteCode}" class="form-control" />
				</div>
				<small id="discordInviteCode_help" class="form-text text-muted" th:text="#{form.discordInviteCode.help}">form.discordInviteCode.help</small>
			</div>
			
			<!-- Twitter Account -->
			<div class="twitterAccountId form-group">
				<label for="twitterAccountId" th:text="#{form.twitterAccountId.label}">form.twitterAccountId.label</label>
				<select id="twitterAccountId" th:field="*{twitterAccountId}" class="form-control">
					<option value="">None</option>
				</select>
				<small id="twitterAccountId_help" class="form-text text-muted" th:text="#{form.twitterAccountId.help}">form.twitterAccountId.help</small>
			</div>
						
			<div class="form-group">
				<button type="submit" class="btn btn-success" th:text="#{profile.edit.form.submit}">profile.edit.form.submit</button>
			</div>
		
		</form>
	</div>
  	  
  
  </body>
  
 </html>