<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Language" content="en" />
	<title sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId}==${profileUser.userId}" th:text="|#{profile.window-title} - #{site.title}|">My Profile - MixedNutz.net</title>
	<title sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId}!=${profileUser.userId}" th:text="@{|${profileUser.username}'s Profile - #{site.title}|}">My Profile - MixedNutz.net</title>
	<title sec:authorize="!isAuthenticated()" th:if="${isRoot==null}" th:text="@{|${profileUser.username}'s Profile - #{site.title}|}">My Profile - MixedNutz.net</title>
	<title sec:authorize="!isAuthenticated()" th:if="${isRoot!=null}" th:text="#{site.title}">MixedNutz.net</title>
	<link th:href="@{|/webjars/bootstrap/css/bootstrap.min.css|}" rel="stylesheet"/>
	<link th:href="@{|/webjars/bootstrap-modal/css/bootstrap-modal-bs3patch.css|}" rel="stylesheet"/>
	<link th:href="@{|/webjars/bootstrap-modal/css/bootstrap-modal.css|}" rel="stylesheet"/>
	<link th:href="@{|/css/mixednutz_timeline.css|}" href="../css/mixednutz_timeline.css" rel="stylesheet" type="text/css" />
	<link th:href="@{|/css/default_theme.css|}" href="../css/default_theme.css" rel="stylesheet" type="text/css" />
	<link th:each="cssHref : ${componentCss}" th:href="@{|${cssHref}|}" rel="stylesheet" type="text/css" />
	<link th:href="@{|/webjars/font-awesome/css/all.css|}" rel="stylesheet" type="text/css" />
	<link th:href="@{|/webjars/snackbarjs/dist/snackbar.min.css|}" rel="stylesheet" type="text/css" />
	<link th:href="@{|/webjars/snackbarjs/themes-css/material.css|}" rel="stylesheet" type="text/css" />
	<link th:href="@{|/webjars/github-com-skywalkapps-bootstrap-notifications/1.0.3/dist/stylesheets/bootstrap-notifications.min.css|}" rel="stylesheet" type="text/css" />
		
	<link rel="alternate" type="application/rss+xml" th:title="#{site.title}" th:href="@{|/rss/${profileUser.username}|}">	
		
	<meta name="description" th:content="#{profile.description}" content="Welcome to your MixedNutz home.  Check out what your network is up to." />
	<meta rel="icon" th:sizes="#{pwa.icon.sizes}" th:href="@{|#{pwa.icon.href}|}" href="/img/icon-192x192.png" />
	<meta name="theme-color" th:content="#{pwa.theme-color}"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

	<!-- Banner -->
	<div th:replace="header :: navbar">navbar</div>
	
	<div class="container">
			
        <div class="row">
	  		<div class="col-lg-3"> 
	  			<div th:replace="profile/fragments_profile :: viewuser_picture">viewuser_picture</div>
	  			<div th:replace="profile/fragments_profile :: viewuser_profile">viewuser_profile</div>
	  		</div>
	  		<div class="col-lg-9">
      			<div th:replace="profile/fragments_profile :: timeline">timeline</div>
	  		</div>
	  	</div>

    </div>


	
	<!-- Placed at the end of the document so the pages load faster -->	
	
	<!-- JQuery 
	================================================== -->
	<script th:src="@{|/webjars/jquery/jquery.min.js|}"></script>
	
	<!-- SnackbarJS 
	================================================== -->
	<script th:src="@{|/webjars/snackbarjs/dist/snackbar.min.js|}"></script>
	
	<!-- JQuery HotKeys
	================================================== -->
	<script th:src="@{|/webjars/jQuery.Hotkeys/jquery.hotkeys.js|}"></script>
	
	<!-- Bootstrap WYSIWYG
	================================================== -->
	<script th:src="@{|/webjars/bootstrap-wysiwyg-steveathon/js/bootstrap-wysiwyg.min.js|}"></script>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <script th:src="@{|/webjars/bootstrap/js/bootstrap.min.js|}"></script>
            
    <!-- Bootstrap Modal JavaScript
    ================================================== -->
    <script th:src="@{|/webjars/bootstrap-modal/js/bootstrap-modalmanager.js|}"></script>
    <script th:src="@{|/webjars/bootstrap-modal/js/bootstrap-modal.js|}"></script>
    
    <!-- IDB-Keyval -->
    <script th:src="@{|/webjars/idb-keyval/dist/idb-keyval-iife.js|}"></script>
        
    <!-- My JavaScript 
 	================================================== -->
 	<script th:inline="javascript">
  	/*<![CDATA[*/
  	var loadOwnerUserName = /*[[${profileUser.username}]]*/ null;
  	var timelineUrl = /*[[@{|/internal/${profileUser.username}/timeline|}]]*/ "/internal/username/timeline";
  	var timelineNextpageUrl = /*[[@{|/internal/${profileUser.username}/timeline/nextpage|}]]*/ "/internal/username/timeline/nextpage";
  	var feedTimelineUrl = /*[[@{|/internal/${profileUser.username}/feeds/timeline|}]]*/ "/internal/username/timeline";
  	var feedTimelineNextpageUrl = /*[[@{|/internal/${profileUser.username}/feeds/timeline/nextpage|}]]*/ "/internal/username/timeline/nextpage";
  	
  	/*]]>*/
  	</script>
  	<script th:replace="header :: navbar_js"></script>
 	<script type="text/javascript" th:src="@{|/js/timeline.js|}" src="../js/timeline.js"></script>
 	<script th:replace="common/fragments_js :: common"></script>
 	<script th:replace="common/fragments_js :: feed_timeline"></script>
 	<script th:replace="common/fragments_js :: timeline"></script>
 	<script type="text/javascript" th:src="@{|/js/pwa_profile.js|}" src="../js/pwa_profile.js"></script>
 	<script type="text/javascript" th:src="@{|/js/pwa.js|}" src="../js/pwa.js"></script>
    
    
    <!-- Google Analytics JavaScript 
 	================================================== -->
    <script async th:src="@{|https://www.googletagmanager.com/gtag/js?id=#{google.analytics.trackingId}|}"></script>
    <script th:replace="google_analytics :: tracking"></script>
</body>
</html>