/** WYSIWYG Editor **/
#editor {
	overflow-y:scroll; 
	max-height:300px;
	height:200px;
}

textarea.replyBody {
	width: 100%;
}

#newMenuItem_id, #newMenuItem_parentId, #editMenuItem_id, #editMenuItem_parentId {
	width: 6ch;
}