<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
 
  	
  	
  	<footer th:fragment="footer">
  		<div class="container">
	        <div class="copyright text-muted">
	            <p>&copy; 2021 <span th:text="#{site.copyright.name}">site.copyright.name</span>.<br/>
	            <span th:text="#{site.copyright.text}">site.copyright.text</span></p>
	            
	            <small><span th:text="#{site.title}">site.title</span> uses the MixedNutz social network platform.<br/>
				Version <span th:text="#{version}"></span> 
				Build date <span th:text="${#temporals.format(T(java.time.ZonedDateTime).parse(#messages.msg('build.date').trim()).toLocalDateTime(), 'E, d MMM yyyy HH:mm')}">N/A</span></small>
	        </div>
        </div>
  	</footer>
  	
  	
  	
  
  </body>
  
 </html>