<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
 

	<script th:fragment="tracking" th:inline="javascript"
		th:data-ad-client="#{google.adsense.data-ad-client}" async 
		src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  
	<div th:fragment="horizontal_ad" th:inline="javascript" class="advertisement">
		<small class="notice">Advertisement</small>
		<script async th:src="@{|https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=#{google.adsense.data-ad-client}|}"
		     crossorigin="anonymous"></script>
		<!-- Horizontal -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:728px;height:90px"
		     th:data-ad-client="#{google.adsense.data-ad-client}"
		     data-ad-slot="8033125778"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</body>
  
 </html>