<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  
  	<h1>New reaction at <span th:text="${siteEmailName}">site.title</span> for <span th:text="${entity.title}">entity.title</span></h1>
  	
  	<p>You have received a new reaction at <span th:text="${siteEmailName}">site.title</span> for <span th:text="${entity.title}">entity.title</span>. You can view your new reaction at the following link.</p>
  	
  	<div style="background: #DEF; padding:2px; border: 1px solid #CCC; text-align:center; font-family:verdana;">
		<a th:href="${reactionUrl}" href="#" style="font-size: 1.4em;">See reaction</a>
	</div>
	  
	
	<p>If you believe you received this email in error, please contact. </p>
	
	
  </body>
</html>
