<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  	<h1><span th:text="#{site.title}">site.title</span> Password Reset</h1>
  	
  	<p>Hi <span th:text="${token.user.username}">token.user.username</span>,</p>
  	  	
  	<p>A password reset has been requested at <span th:text="#{site.title}">site.title</span>
  	
  	Please click the provided link to reset your password and return to the site. 
	If you believe you received this email in error, please contact. 
  	</p>
  		
	<a th:href="${resetPasswordUrl}" href="#">Reset Password</a>
  </body>
</html>