<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

  <body>

	<div th:fragment="profile_settings">
		
		<h2>Profile Settings</h2>
		
		<form th:action="@{|/settings|}" th:object="${form}" method="post">
		
			<div class="showCombinedExternalFeedsOnProfile form-check">
				  <input class="form-check-input" type="checkbox" th:field="*{showCombinedExternalFeedsOnProfile}" id="showCombinedExternalFeedsOnProfile">
				  <label class="form-check-label" for="showCombinedExternalFeedsOnProfile">Combine External Feeds for Home Tab</label>
				  <small id="showCombinedExternalFeedsOnProfileHelp" class="form-text text-muted"></small>
			</div>
			
			<h3>Feed Visibility</h3>
			
			<div id="feed_visibility"></div>
		
			<input class="btn btn-primary" type="submit" value="Update"/>
		
		</form>
		
		<div id="feed_visibility_templates" class="hidden">
			<div id="feed_visibility_template" class="form-inline">
				<div class="form-group">
				<input name="feedId" type="hidden"/>
				<label>
					<i class="iconName fa" aria-hidden="true"></i>
					<span class="displayName">FeedName</span>
					<select name="visibility" class="form-control visibility">
						<option value="PRIVATE">Private to only you</option>
						<option value="WORLD">World</option>
					</select>
				</label>
				</div>
			</div>
		</div>
		
	</div>
	
   	
  
  </body>
  
 </html>