<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
  	<div th:fragment="forgotpw_form">
    	
		<p>Enter in your username OR the email address you registered with:</p>		
		<h2>Lookup by username:</h2>
		<div th:if="${#fields.hasErrors('${forgotPasswordForm.*}')}" class="alert alert-error">    
		        Invalid user
		    </div>		
	    <form  class="form-inline" th:object="${forgotPasswordForm}" th:action="@{|forgotpw|}" method="post">
			<div class="form-group">
				<label for="username">User Name:</label>
				<input class="form-control" id="username" th:field="*{username}" required="required" />
				<input class="btn btn-warning" type="submit" value="Reset Password"/>
			</div>
		</form>
		<h2>Lookup by E-mail address:</h2>
		<form  class="form-inline" th:object="${forgotPasswordForm}" th:action="@{|forgotpw|}" method="post">
			<div class="form-group">
				<label id="email">E-mail Address:</label>
				<input class="form-control" id="email" type="email" th:field="*{email}" required="required" />
				<input class="btn btn-warning" type="submit" value="Reset Password"/>
			</div>
		</form>
		
	</div>
	
	<div th:fragment="resetpw_form">
	
		<form th:action="@{|/resetpw|}" th:object="${user}" method="post">
						
		<div class="username form-group required has-feedback">
			<label for="username" th:text="#{resetpw.form.username.label}">resetpw.form.username.label</label>
			<input id="username" type="text" name="username_confirm" autocomplete="username" class="form-control" required="required"/>
			<small id="username_help" class="form-text text-muted" th:text="#{resetpw.form.username.help}">resetpw.form.username.help</small>
			<span id="username_feedback" class="form-control-feedback" aria-hidden="true"></span>
			<span class="message text-danger"></span>
		</div>					
						
		<div class="passwordRaw form-group required has-feedback">
				<label for="passwordRaw" th:text="#{form.passwordRaw_new.label}">form.passwordRaw_new.label</label>
				<input id="passwordRaw" th:field="*{passwordRaw}" type="password" autocomplete="new-password" class="form-control" required="required"/>
				<span id="passwordRaw_feedback" class="form-control-feedback" aria-hidden="true"></span>
				<span class="message text-danger"></span>
		</div>
		
		
		<div class="passwordConfirm form-group required has-feedback">
			<label for="passwordConfirm" th:text="#{form.passwordConfirm.label}">form.passwordConfirm.label</label>
			<input id="passwordConfirm" th:field="*{passwordConfirm}" type="password" autocomplete="new-password" class="form-control" />
			<span class="message text-danger"></span>
		</div>
		
		<input name="token" type="hidden" th:value="${resetPasswordToken.token}"/>
		
		<input class="submitBtn btn btn-warning btn-lg disabled" type="submit" disabled="disabled" th:value="#{resetpw.form.submit}" value="signup.user_new.form.submit"/>
	
		
		</form>
	
	</div>
	
	<script th:fragment="resetpw_js" th:inline="javascript">
    /*<![CDATA[*/
    var usernameMinLength = /*[[#{form.username.minLength}]]*/ 3;
    var usernameHasError = /*[[#{form.username.error.tooShort}]]*/ 'Too Short';
    var passwordMinLength = /*[[#{form.passwordRaw_new.minLength}]]*/ 3;
    var passwordRawHasError = /*[[#{form.passwordRaw_new.error.tooShort}]]*/ 'Too Short';
    var passwordConfirmHasError = /*[[#{form.passwordConfirm.error.notMatch}]]*/ 'Password does not match';
    $('form input[type="text"],[type="password"]').keyup(function() {
    	if (this.id=='username') {
    		var val = $(this).val();
  			$('#username_feedback').empty();
  			if (val.length<usernameMinLength) {
  				$('#username_feedback').addClass('glyphicon glyphicon-alert');
  				$('.username.has-feedback').addClass('has-error');
  				$('.username .message').html(usernameHasError);
  			} else {
  				$('#username_feedback').removeClass('glyphicon glyphicon-remove');
	  			$('.username.has-feedback').removeClass('has-error');
	  			$('.username .message').html('');
  			}
    	}
    	if (this.id=='passwordRaw') {
    		var val = $(this).val();
  			$('#passwordRaw_feedback').empty();
  			if (val.length<passwordMinLength) {
  				$('#passwordRaw_feedback').addClass('glyphicon glyphicon-alert');
  				$('.passwordRaw.has-feedback').addClass('has-error');
  				$('.passwordRaw .message').html(passwordRawHasError);
  			} else {
  				$('#passwordRaw_feedback').removeClass('glyphicon glyphicon-remove');
	  			$('.passwordRaw.has-feedback').removeClass('has-error');
	  			$('.passwordRaw .message').html('');
  			}
    	}
    	if (this.id=='passwordRaw' || this.id=='passwordConfirm') {
    		var passVal = $('form input[name="passwordRaw"]').val();
    		var confirmVal = $('form input[name="passwordConfirm"]').val();
    		if (passVal != confirmVal) {
    			$('#passwordConfirm_feedback').addClass('glyphicon glyphicon-alert');
  				$('.passwordConfirm.has-feedback').addClass('has-error');
  				$('.passwordConfirm .message').html(passwordConfirmHasError);
    		} else {
    			$('#passwordConfirm_feedback').removeClass('glyphicon glyphicon-remove');
	  			$('.passwordConfirm.has-feedback').removeClass('has-error');
	  			$('.passwordConfirm .message').html('');
    		}
    	}
    	
    	//check for feedback and disable success button if needed
		if ( $('.username.has-feedback').hasClass('has-error') || 
				$('.passwordRaw.has-feedback').hasClass('has-error') || 
				$('.passwordConfirm.has-feedback').hasClass('has-error')) {
			$('.submitBtn').prop("disabled",true).addClass('disabled');	 
		} else {
			$('.submitBtn').prop("disabled",false).removeClass('disabled');
		}
    });
    /*]]>*/
    </script>
  
  
  </body>
</html>