<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Language" content="en" />
	<title th:text="|#{forgotpw.window-title} - #{site.title}|">My Timeline - MixedNutz.net</title>
	<meta name="description" th:content="#{forgotpw.description}" />
	
	<meta rel="icon" th:sizes="#{pwa.icon.sizes}" th:href="@{|#{pwa.icon.href}|}" href="/img/icon-192x192.png" />
	<meta name="theme-color" th:content="#{pwa.theme-color}"/>
		
	<!-- Bootstrap Core CSS -->
	<link th:href="@{|/webjars/bootstrap/css/bootstrap.min.css|}" rel="stylesheet"/>
	
	<link th:href="@{|/css/default_theme.css|}" href="../css/default_theme.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

	<!-- Banner -->
	<div th:replace="header :: navbar">navbar</div>
	
	<div class="container">
	
		<h1>E-mail Sent</h1>
	
		<p class="alert alert-success">A link to reset your password has sent to the E-mail address that we have on record.</p>
	
	</div>
    
    <!-- Footer -->
    <footer th:include="footer :: footer">
        footer
    </footer>
    


	<!-- Placed at the end of the document so the pages load faster -->	
	
	<!-- JQuery 
	================================================== -->
	<script th:src="@{|/webjars/jquery/jquery.min.js|}"></script>
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <script th:src="@{|/webjars/bootstrap/js/bootstrap.min.js|}"></script>
    
    <!-- Google Analytics JavaScript 
 	================================================== -->
    <script async th:src="@{|https://www.googletagmanager.com/gtag/js?id=#{google.analytics.trackingId}|}"></script>
    <script th:replace="google_analytics :: tracking"></script>
</body>
</html>